@media (min-width: 576px) {
  .icon-img {
    width: 70px;
    height: 80px;
  }
}

@media (min-width: 768px) {
  .icon-img {
    width: 90px;
    height: 100px;
  }
}

@media (min-width: 1400px) {
  .img-hero {
    width: 893px;
  }
}

a {
  text-decoration: none;
}

.btn-green {
  background: #00642e;
  border: none;
  transition: all ease .5s;
  cursor: pointer;
}

.btn-green:hover {
  background: #02823b;
}

.btn-green-1 {
  background: #7bc440;
  border-style: none;
  transition: all ease .5s;
}

.btn-green-1:hover {
  background: #67be20;
  /*border-style: none;*/
}

.icon {
  color: #ffffff;
  transition: all ease .3s;
  cursor: pointer;
}

.icon:hover {
  color: #7bc440;
}

.img-card-1 {
}

@media (min-width: 1400px) {
  .img-card.img-card-1 {
    margin-left: -20px;
    width: 709px;
    margin-top: -97px;
  }
}

